@font-face {
	font-family:		'Black Ops One';
	font-style:			normal;
	font-weight:		400;
	src:				local('Black Ops One'), local('BlackOpsOne-Regular'), url(blackops.woff) format('woff');
}

body {
	margin: 			auto;
	background-color:	white;
	color:				#6495ed;
	width:				100%;
	text-align:			center;
    font-family: 		"Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

#num {
	position: 			relative;
	/*margin-left: 		20px;*/
	margin: 			auto auto 0 auto;
	width: 				406px;
}

#titlebox {
    border:         	3px solid #6495ed;
    width: 				400px;
    margin: 			20px auto auto auto;
	background-color:	#eff4fd;
}

#info {
    border:             1px solid transparent;
    height:             82px;
    width:              364px;
    margin:             10px 10px 10px 10px;
    font-size:          20px;
    font-family:        "Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
	color: 				#bbb;
    background-color:   #eff4fd;
	resize:				none;
    overflow:           hidden;
	-webkit-transition:	all	0.2s;
			transition: all	0.2s;
}

#info:focus {
	outline:  			0;
	border: 			1px solid #eee;
	background-color: 	#fdfdfe;
}

#numbox {
	margin: 	 		20px auto;
	width: 				406px;
	height: 			190px;
	position: 			relative;
	background-color: 	#6495ed;
}

#nump {
	margin: 			auto;
	width: 				360px;
}

#num1, #num2, #num3 {
	margin: 			0;
	float: 				left;
	width: 				120px;
	font-family:		'Black Ops One',	'monospace';
	font-size:			160px;
	color: 				white;
	text-align:			center;
}

#ctlbox {
	margin: 			20px auto auto auto;
	position: 			relative;
	/*top: 				8em;*/
    font-family: 		"Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
	font-size: 			24px;
    border: 			3px solid #6495ed;
    width: 				400px;
    background-color:   #eff4fd;
}

#anssheel {
	padding: 			20px;
	position:			absolute;
	top: 				0;
	bottom: 			0;
	width:				580px;
    border: 			3px solid #6495ed;
    background-color:   #eff4fd;
    opacity: 			100%;
    visibility: 		hidden;
    overflow-y: 		scroll;
}

div.answers {
    font-family: 		"Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
	font-size:			32px;
	line-height: 		50px;
    /*border: 			3px solid #6495ed;	*/
    margin: 0;
	/*box-shadow:			0 0 2px 2px;*/
	-webkit-transition:	all	0.2s;
			transition: all	0.2s;
}

p.prizes {
    font-family: 		"Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
	font-size: 			30px;
	font-weight: 		400px;
	margin: 			0;
	border: 			none;
}

.answers:hover {
	opacity:	0.7;
}

input {
	background-color:	white;
	border-style:		none;
	outline:  			0;
    height:             31px;
	font-size:			1em;
    font-family: 		"Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
	padding:       		auto 10px;
    margin:         	0 0.3em;
    border:         	2px solid #6495ed;
	-webkit-transition:	all	0.2s;
			transition: all	0.2s;
}

input:focus {
	box-shadow: 		0 0 5px #6495ed;
}

input:disabled {
    background-color:   #eee;
}

#total {
    width:          	6em;
}

#cnt {
    width:          	4em;
}

#prize {
    width:          	8em;
}

button {
	background-color:	#6495ed;
	border-style:		none;
	outline:  			0;
	color: 				white;
    font-family: 		"Hiragino Sans GB", "Microsoft YaHei", "ST Heiti", "Apple LiGothic Medium", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
	-webkit-transition:	all	0.2s;
			transition: all	0.2s;
}

#start {
    line-height:        28px;
    font-size:          28px;
    margin-top:         20px;
    width:              406px;
    height:             60px;
    padding:            16px 0;
}

button:hover {
	background-color:	#92B4F2;
}

button:active {
	background-color:	rgba(0, 0, 0, 0.1);
}

#footer {
	position:			fixed;
	width:				100%;
	bottom:				0px;
}
